.App {
    font-family: sans-serif;
    font-size: 16px;
}

.tracker {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    padding-top: 0.4%;
    padding-bottom: 3.4vw;
}

.Info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 25%;

    margin-left: 21.5%;
    margin-top: 2.35%;

    outline: none;

    border: none;
}



.Customization-button-task {
    border-radius: 10px;

    border: none;
    padding: 5px 10px;
    cursor: pointer;

    font-size: 20px;
    text-align: left;

    color: #ffffff;
    outline: none;


}



.AddCreate-task {
    display: flex;
    flex-direction: row;
    margin-left: 13.5vw;
    margin-top: 2vw;
    box-sizing: border-box;
    height: 3.65vw;

}


.create-button-task {
    margin-left: 16.7%;
    background-color: #ffffff;
    color: #000000;
    align-items: start;
    text-align: center;
    box-shadow: 0 0 10px #941616;}


.create-button-task:hover {
    background-color: #941616;
    color: #ffffff;
    outline: none;
}


.add-button {
    margin-right: 20%;
    width: 400px;
    text-align: center;
}




.custom-form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    font-family: sans-serif;
    background-color: #164f94;
}

.calendar-button {
    padding: 8px 12px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 5px;*/
    background-color: #fff;
    cursor: pointer;
    border: none;
}

.calendar-button:focus {
    outline: none;
}

.date-picker-container {
    display: flex;
    flex-direction: column; /* Выстраиваем элементы в столбец */
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10000; /*  Чтобы календарь был поверх других элементов */
}

.date-picker-container:hover {
    box-shadow: 0 0 0 1px #164f94; /* Добавляем синюю рамку с помощью box-shadow */

}

.save-calendar-button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    margin-top: 10px;
    flex: 1;
    width: 100%;
}

.save-calendar-button:hover {
    box-shadow: 0 0 0 1px blue; /* Добавляем синюю рамку с помощью box-shadow */

}

.save-calendar-button:focus {
    outline: none;
}



.title-task-wrapper {
    display: flex;
    align-items: center;
}

.title-task {
    font-size: 20px;
    color: #000000;
    /*
    white-space: nowrap;
    */
    display: inline-flex;
    align-items: center;
    /*
    margin-right: 10px;
    */
}

.rounded-form-task {
    display: flex;


    align-items: center;
    border-radius: 10px;
    border: none;
    /*padding: 5px 10px;*/
    /*width: 385px;*/
    width: 22vw;
    height: 3.65vw;
    overflow: hidden;
    margin-bottom: 3.9vw;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    /*justify-content: space-between;*/
    position: relative;
}

.rounded-form-task.lightning {


    box-shadow: 0 3px 10px 5px #164f94; /* Добавляем синюю рамку с помощью box-shadow */
    transition: box-shadow 0.25s ease-in-out;
}

.form-left-task {
    width: auto;
    text-align: center;
    padding-left: 5%;
    padding-top: 1%;
    box-sizing: border-box;
    /*margin-left: 5%;*/
}

.separator-container {
    position: absolute;
    width: 0;
    height: 100%;
    left:40%;

}

.separator-container.lightning .separator {
    background-color: #164f94; /* Подсветка разделителя синим */
    box-shadow: 0 0 0 0.25px blue; /* Добавляем синюю рамку с помощью box-shadow */
    transition: box-shadow 0.25s ease-in-out;
}

.rounded-form-task:hover .separator {
    background-color: #164f94; /* Подсветка разделителя синим */
    box-shadow: 0 0 0 0.25px blue; /* Добавляем синюю рамку с помощью box-shadow */
    transition: box-shadow 0.25s ease-in-out;
}

.separator {
    top: 0;
    width: 1px;
    height: 70px;
    background-color: #000000;
    transform: translateX(-50%);
}


.form-right-input {
    margin-left: 25%;
    margin-right: 10%;
}


.form-right-select {
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    right: 0; /* Прижимаем к правому краю */
    height: 100%; /* Занимает всю высоту rounded-form-task */
    display: flex;
    align-items: center; /* Выравнивание по вертикали по центру */
    padding-right: 4vw; /* Отступ от правого края */
    /*left: 40%;*/
    width: auto;
    margin-left: auto; /*Располагаем справа*/
}

.rounded-form-task:hover {
    /*box-shadow: 0 0 0 2px #164f94; !* Добавляем синюю рамку с помощью box-shadow *!*/
    border: 2px solid #164f94;
    transition: box-shadow 0.25s ease-in-out;

}

.form-right-calendar {
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    right: 0; /* Прижимаем к правому краю */
    height: 100%; /* Занимает всю высоту rounded-form-task */
    display: flex;
    align-items: center; /* Выравнивание по вертикали по центру */
    padding-right: 1.5vw; /* Отступ от правого края */
    /*left: 40%;*/
    width: auto;
    margin-left: auto; /*Располагаем справа*/
}


.input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: end;
    align-items: end;
}

.select {
    display: flex;
    border: none;
    outline: none;
    font-size: 20px;
    /*max-width: 90%;*/
    /*background-color: transparent; */


    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
}

.select option {
    color: #000000; /* Цвет текста в выпадающем списке (черный) */
}

.select:invalid {
    color: #cccccc;
    text-align: end;

}



.title-form {
    background-color: #ababab;
    color: #ffffff;
    text-align: left;
    width: 143%;
    height: 70px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    resize: none;
    padding-left: 4%;
    display: block;
}

.Customization {
    margin-top: 2.35%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    cursor: pointer;

    border: none;
    margin-left: 8%;
}

.description-form{


    text-align: left;

    width: 32vw ;

    font-size: 20px;
    border: none;
    padding: 7%;
    resize: none;
    height: 33.5vw;
    outline: none;
    border-radius: 10px;
    box-sizing:  border-box;

}

.textarea-container-task {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;

}

.textarea-container-task:hover{
    box-shadow: 0 3px 10px 1px #164f94 !important;
    transition: box-shadow 0.25s ease-in-out !important;
    overflow: hidden
}


.textarea-container-task.lightning{
    box-shadow: 0 3px 10px #164f94; /* Подсветка textarea */
}



